html, body {
  background-color: #000;
  color: #fff;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

h3, h4 {
  color: #fff;
}

#header_content {
  background-color: #106a2c;
}

#footer_content {
  background-color: #2a3867;
}

#main_content {
  min-height: 100vh;
  width: 100vw;
  background-color: #862525;
}
